@page
@model ArcGISJavaScriptDemo.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
}

<div class="container">
    <div class="row">
        <div class="col-md-3"><label>Display Name :</label></div>
        <div class="col-md-9">@Model.User.DisplayName</div>
    </div>
    <div class="row">
        <div class="col-md-3"><label>Username :</label></div>
        <div class="col-md-9">@Model.User.Username</div>
    </div>
    <div class="row">
        <div class="col-md-3"><label>User Roles :</label></div>
        <div class="col-md-9">@Model.User.UserRoles</div>
    </div>
</div>